* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.logo-img {
	width: 70px;
	height: auto;
}

.brand-logo {
	margin-top: 0.5rem;
}

img {
	display: block;
	width: 100%;
	object-fit: cover;
}

.primary-overlay {
	background: rgba(82, 80, 88, 0.57);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.main-header {
	background: url(../images/adult.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100%;
	min-width: 1080px;
	min-height: 800px;
	color: #fff;
	position: relative;
}
.main-header a {
	font-size: 1.4rem;
}

.main-header .showcase {
	padding-top: 20%;
	position: relative;
}

.scroll-icon {
	position: absolute;
	bottom: -150px;
	left: 47%;
	opacity: 0.4;
}

.icons {
	font-size: 2em;
	display: flex;
	margin-right: 0.5em;
	width: 60px;
	height: 60px;
	padding: 0.5em;
	justify-content: center;
	background-color: green;
	color: rgb(255, 255, 255);
	border-radius: 50%;
}
.btn {
	border-radius: 30px;
}
#service {
	height: 100%;
	background-color: #f2f2f2;
}

.service-card-item,
#about {
	padding-top: 4em;
}
.content-service {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	/* border: solid 1px red; */
	margin-top: 3em;
	margin-bottom: 8em;
}

.content-service .wrapper {
	display: flex;
	align-items: center;
	padding: 15px;
	background-color: #ffffff;
	-webkit-box-shadow: 14px 13px 16px -9px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 14px 13px 16px -9px rgba(0, 0, 0, 0.2);
	box-shadow: 14px 13px 16px -9px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

#service .service-info h3 {
	font-size: 1.9rem;
	margin: 0.80rem 0;
}

#service .service-info p {
	font-size: 1.4rem;
}

#about,
#portfolio,
#client {
	height: 100%;
}
#about {
	padding-top: 10%;
}
#about .about-image {
	/* border: solid rgb(9, 233, 110) 2px; */
	width: 300px;
	height: 280px;
}

#about .about-image img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin-right: 10px;
	border-radius: 10px;
}

#about .about-info {
	display: flex;
	flex-direction: column;
	height: auto;
	justify-content: center;
	/* border: solid red 2px; */
	padding-left: 1.5em;
}
#about .about-info h4,
#about .skills h4 {
	font-size: 2.5rem;
}

#about .about-info p,
#about .skills .progress-title {
	font-size: 1.4rem;
}

#about .top-line {
	border-top: solid green 3px;
}
#about .bt {
	font-weight: bolder;
}

#about .skills {
	margin-top: 8em;
}

/* Progress Bar */
.progress-bar {
	margin: 0 0 10px;
	overflow: hidden;
	padding-right: 24px; /* Separate bars from container */
}

.progress-title-holder {
	padding-bottom: 7px;
	position: relative;
	margin: 5px 0;
	font-family: Montserrat, sans-serif;
	font-size: 16px;
	line-height: 15px;
	font-weight: 400;
	color: #2e2e2e;
}

.progress-title {
	z-index: 100;
	font-weight: bold;
}

.progress-number-wrapper {
	width: 100%;
	z-index: 10;
}

.progress-number-mark {
	margin-bottom: 4px;
	border-radius: 3px;
	background-color: rgb(32, 36, 32);
	padding: 2px 8px;
	position: absolute;
	bottom: 0;
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

.progress-number-wrapper,
.progress-number-mark {
	font-family: Open Sans, sans-serif;
	font-size: 15px;
	line-height: 24px;
	height: 30px;
	letter-spacing: 0px;
	font-weight: 600;
	font-style: normal;
	text-transform: none;
	color: #ffffff;
}

.down-arrow {
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 3px solid #202127;
	position: absolute;
	left: 50%;
	top: 100%;
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

.progress-content-outter {
	height: 12px;
	background-color: #dadada;
}

.progress-content {
	height: 21px;
	background-color: rgba(45, 146, 90, 0.918);
	width: 0%; /* Initial value */
}

/* Portfolio style */
#portfolio {
	margin-bottom: 15%;
	margin-top: 7%;
}

#portfolio .port-gallery {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 5vw);
	grid-gap: 25px;
}

#portfolio .title {
	margin-top: 0.5em;
	padding: 1.5em 0;
}

#portfolio .gallery__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}
#portfolio .gallery__item:nth-child(1) {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 6;
}
#portfolio .gallery__item:nth-child(2) {
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 5;
}
#portfolio .gallery__item:nth-child(3) {
	grid-column-start: 5;
	grid-column-end: 7;
	grid-row-start: 1;
	grid-row-end: 6;
}
#portfolio .gallery__item:nth-child(4) {
	grid-column-start: 9;
	grid-column-end: 7;
	grid-row-start: 1;
	grid-row-end: 5;
}
#portfolio .gallery__item:nth-child(5) {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 6;
	grid-row-end: 9;
}
#portfolio .gallery__item:nth-child(6) {
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 5;
	grid-row-end: 9;
}
#portfolio .gallery__item:nth-child(7) {
	grid-column-start: 5;
	grid-column-end: 7;
	grid-row-start: 6;
	grid-row-end: 9;
}
#portfolio .gallery__item:nth-child(8) {
	grid-column-start: 7;
	grid-column-end: 9;
	grid-row-start: 5;
	grid-row-end: 9;
}

/* Clients style  */
.slider-wrap {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 7% 0;
	background-color: rgb(89, 133, 92);
	color: #fff;
}
#client {
	margin-top: 100px;
}

#client h3 {
	margin-bottom: 2.5em;
	font-size: 2.2rem;
}
#client .client-name {
	font-size: 1.5rem;
	font-weight: 600;
	color: #b4a7a7;
}

#slider {
	position: relative;
	width: 100%;
	height: 100%;
}

#nav-points {
	list-style: none;
	margin: 20px auto;
}

#nav-points li {
	float: left;
}

#nav-points li {
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: white;
	opacity: 0.2;
	margin-right: 10px;
}

#nav-points li:hover {
	cursor: pointer;
}

/* Blogs section style */
#blogs {
	margin: 7% auto;
}
#blogs .bp {
	margin-bottom: 2em;
	font-size: 2.8rem;
}
.blog-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

.blog-info .blog-title {
	font-size: 2.2rem;
}
.blog-info h4 {
	font-size: 1.3rem;
	color: rgb(136, 136, 136);
}
.blog-info .blog-text {
	font-size: 1.4rem;
	line-height: 1.5;
	margin-bottom: 2em;
}
.blog-info {
	padding: 0 1.5em 3em 1.5em;
}

.blog-content {
	width: 100%;
	height: auto;
	border: #535353 solid 1px;
}
.blog-image {
	height: 25vh;
}

.blog-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.blog-btn {
	font-weight: 600;
	font-size: 1.3rem;
	border: seagreen solid 1px;
}
/* contact style */
#contact {
	background-color: rgb(89, 133, 92);
	padding: 5% 2%;
}

#contact .title {
	margin-bottom: 1.5em;
	font-size: 2.9rem;
}

#contact .input-field label {
	color: rgb(184, 179, 179);
	font-size: 1.5rem;
}

#contact .input-field input[type=text] {
	padding-bottom: 1em;
}

/* label underline focus color */
#contact .input-field input[type=text]:focus,
#message:focus {
	border-bottom: 1px solid rgb(57, 73, 97);
	box-shadow: 0 1px 0 0 #000;
}

#contact .input-field input[type=text],
#message {
	border-bottom: 1px solid rgb(255, 255, 255);
	box-shadow: 0 1px 0 0 #000;
	color: #f2f2f2;
}

#contact #message {
	height: 200px;
}

#contact .btn-clr {
	font-size: 1.5rem;
	background-color: rgb(68, 67, 67);
	text-transform: capitalize;
}

/* Main footer style */
#main-footer {
	background-color: ;
}

#main-footer .logo-img {
	width: 75px;
	margin-top: 1.4em;
	margin-bottom: 2em;
}

#main-footer .footer-content {
	margin: 8% auto 3% auto;
}

#main-footer .footer-text-para {
	font-size: 1.5rem;
	margin-bottom: 1.3em;
}

#main-footer .link-header {
	font-weight: bolder;
	color: rgba(54, 53, 53, 0.705);
	margin: 1.5em auto;
	font-size: 2rem;
}

#main-footer .footer-link {
	font-size: 1.5rem;
	margin-bottom: 0.5em;
}
#main-footer .footer-link a {
	color: rgba(70, 70, 70, 0.836);
}

#main-footer .footer-link a:hover {
	color: rgb(0, 0, 0);
}

#main-footer .footer-copyright .copy {
	font-size: 1.5rem;
	margin-bottom: 15%;
	color: rgba(70, 70, 70, 0.836);
}
